{# src/IXE83/BlogBundle/Resources/views/Blog/new.html.twig #}

{% extends 'IXE83BlogBundle::layout.html.twig' %}

{% block title %}Новая запись{% endblock %}

{% block body %}
    <h1>Новая запись</h1>

    {{ form_start(form, {'attr':{'class':'blogger'} }) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}